body {
    background-color: whitesmoke;
}

textarea#ta_add_book_descr{
    width: 534px;
    height: 70px;
    resize: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.button_row {
    width: 100%;
    text-align:center;
}

.button_more {
    float: left;
}

.button_del {
    float: right;    
}

.button_edit {
    display: inline-block;
    margin: 0 auto;
}

