body {
    background-color: whitesmoke;
}

 textarea#ta_add_book_descr{
    width: 534px;
    height: 70px;
    resize: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.button_more {
    display: block;
    float:  left;
}

.button_del {
    display: block;
    float: right;
}