body {
    background-color: whitesmoke;
    margin-top: 0px;
}

textarea#ta_add_book_descr{
    /*width: 534px;*/
    width: 100%;
    height: 70px;
    resize: none;
}

textarea#ta_edit_book_descr{
    width: 100%;
    /*width: 534px;*/
    height: 140px;
    resize: none;
}


.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.button_row {
    width: 100%;
    text-align:center;
}

.button_more {
    float: left;
}

.button_del {
    float: right;    
}

.button_edit {
    display: inline-block;
    margin: 0 auto;
}

.navbar {
    background-color: grey;
}

