<div class="col-md-6 col-md-offset-3" data-id="{{id}}">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"> {{title}} - {{author}}</h3>
        </div>
        <div class="panel-body">
            {{descr}}
        </div>
        {{#BTN_MORE}}
            <div class="panel-footer button_row">
                <button class="button_more btn btn-xs btn-primary">{{BTN_MORE}}</button>    
                <button class="button_edit btn btn-xs btn-success">{{BTN_EDIT}}</button>
                <button class="button_del  btn btn-xs btn-danger">{{BTN_DEL}}</button>
            </div>
    {{/BTN_MORE}}
    </div>
</div>
